<p id="notice">
  <div class="alert alert-primary" id="success-alert" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</p>

<div class="row">
  <div class="col-md-6">
    <h3>Sistema Boletas de Garantía</h3>
  </div>
  <% if user_signed_in? %>
    <div class="col-md-6">
      <p class="text-right">
        <%= link_to 'Agregar Nuevo Registro', new_guarantee_path, class: 'btn btn-primary'  %>
        <%= link_to 'Busqueda Avanzada', new_search_path, class: 'btn btn-primary' %>
        <%= link_to guarantees_path(format: "xlsx"), class: 'btn btn-success' do %>
          <% icon('far', 'file-excel') %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
<hr>
<div class="table-responsive-xl">
  <table class="table table-striped" id="dttb">
    <thead>
      <tr>
        <th class="text-center">Correlativo</th>
        <th class="text-center">Numero Boleta</th>
        <th class="text-center">Proveedor</th>
        <th class="text-center">Analista</th>
        <th class="text-center">Detalle</th>
        <th class="text-center">Estado</th>
        <% if user_signed_in? %>
          <th class="text-center">Acciones</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @guarantees.each do |guarantee| %>
        <tr>
          <% if guarantee.correlative.present? %>
            <td class="text-center"><%= guarantee.correlative %></td>
          <% else %>
            <td class="text-center">SIN CORRELATIVO DEFINIDO</td>
          <% end %>
          <% if guarantee.guarantee_number.present? %>
            <td class="text-center"><%= guarantee.guarantee_number %></td>
          <% else %>
            <td class="text-center">SIN NUMERO DEFINIDO</td>
          <% end %>
          <% if guarantee.guarantee_number.present? %>
            <td class="text-center"><%= guarantee.borrower_name %></td>
          <% else %>
            <td class="text-center">SIN PROVEEDOR DEFINIDO</td>
          <% end %>
          <% if guarantee.income_applicant.present? %>
            <td class="text-center"><%= guarantee.income_applicant %></td>
          <% else %>
            <td class="text-center">SIN ANALISTA DEFINIDO</td>
          <% end %>
          <% if guarantee.detail.present? %>
            <td class="text-center"><%= guarantee.detail %></td>
          <% else %>
            <td class="text-center">SIN DETALLE DEFINIDO</td>
          <% end %>
          <% if guarantee.state.present? %>
            <td class="text-center"><%= guarantee.state %></td>
          <% else %>
            <td class="text-center">SIN ESTADO DEFINIDO</td>
          <% end %>
          <% if user_signed_in? %>
            <td class="text-center">
              <div class="btn-group">
                <%= link_to guarantee_path(guarantee), class: 'btn btn-primary' do %>
                  <% icon('fas', 'print') %>
                <% end %>
                <%= link_to edit_guarantee_path(guarantee), class: 'btn btn-primary' do %>
                  <% icon('fas', 'edit') %>
                <% end %>
                <%= link_to guarantee, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-primary' do %>
                  <% icon('fas', 'trash-alt') %>
                <% end %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
