<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <h3>Sistema Boletas de Garantía</h3>
  </div>
  <div class="col-md-6">
    <p class="text-right">
      <%= link_to 'Agregar Nuevo Registro', new_guarantee_path, class: 'btn btn-primary'  %>
      <%= link_to new_search_path, class: 'btn btn-primary' do %>
        Busqueda Avanzada
      <% end %>
    </p>
  </div>
</div>
<hr>

<table class="table table-striped" id="dttb">
  <thead>
    <tr>
      <th class="text-center">Correlativo</th>
      <th class="text-center">Numero Boleta</th>
      <th class="text-center">Proveedor</th>
      <th class="text-center">Analista</th>
      <th class="text-center">Detalle</th>
      <th class="text-center">Estado</th>
      <th class="text-center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @guarantees.each do |guarantee| %>
      <tr>
        <td class="text-center"><%= guarantee.correlative %></td>
        <td class="text-center"><%= guarantee.guarantee_number %></td>
        <td class="text-center"><%= guarantee.borrower_name %></td>
        <td class="text-center"><%= guarantee.sectorialist_devolution %></td>
        <td class="text-center"><%= guarantee.detail %></td>
        <% if guarantee.state.present? %>
          <td class="text-center"><%= guarantee.state %></td>
        <% else %>
          <td class="text-center">SIN ESTADO DEFINIDO</td>
        <% end %>
        <td class="text-center">
          <div class="btn-group">
            <%= link_to guarantee_path(guarantee), class: 'btn btn-primary' do %>
              <% icon('fas', 'print') %>
            <% end %>
            <%= link_to edit_guarantee_path(guarantee), class: 'btn btn-primary' do %>
              <% icon('fas', 'edit') %>
            <% end %>
            <%= link_to guarantee, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-primary' do %>
              <% icon('fas', 'trash-alt') %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
